<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品詳細</title>
</head>
<body>
    <h1>商品詳細</h1>
    
    <table>
       <thead>
           <tr>
               <th>商品名</th>
               <th>価格</th>
               <th>カテゴリ</th>
               <th>画像</th>
               <th>商品詳細の説明</th>
           </tr>
       </thead>
           <tr>
               <td>{{ product.name }}</td>
               <td>{{ product.price }} 円</td>
               <td>{{ product.category }}</td>
               <td><img src="{{ product.img.url }}" style="width:100px height:auto;"></td>
               <tr>{{ product.description }}</tr>
           </tr>
    </table>
    
    <a href="{% url 'list' %}">一覧へ戻る</a>

</body>
</html>